

/* browser default gap reduce */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styls */

.primary-color {
    color: #4E47FF;
}

.secondery-color {
    background-color: #F5F8FF;
}

.btn-primary {
    background-color: #4E47FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;      /* importen */
    transform: translateY(-4px);
    transition: transform 0.3s ease;
}
  
.btn-primary:hover {
    transform: translateY(0);
}
  

/* font family */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* header styles */
.header {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 930px;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 50px;
}

/* banner styles*/
.banner {
    text-align: center;
    margin-top: 350px;
}

.hero-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 50px;
}

.hero-logo a {
    font-size: 35px;
    text-decoration: none;
    color: #4E47FF;
    display: inline-block;
    transform: translateY(-4px);
    transition: transform 0.3s ease;
}

.hero-logo a:hover {
    transform: translateY(0);
}


/* webflow small section style */
.webflow {
    display: flex;
    padding: 130px 230px;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
}

.webflow-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 25px;
}

.webflow-description {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-bottom: 25px;
}

.webflow-img {
    border-radius: 48px;
}

/* users-info */
.achievment {
    text-align: center;
    background-color: #E5E7FF;
    padding: 50px 100px;
    border-radius: 25px;
    margin-bottom: 60px;
    margin-left: 320px;
    margin-right: 320px;
}

.user-details {
    display: flex;
    justify-content: space-around;
}

.display-ad {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.user-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-description {
    color: rgba(37, 36, 50, 0.5);
}


/* review-section */
.alignment {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}


.avatar-customize {
    border-radius: 50px;
}

.reviewer-info {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.user-review-bg {
    background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.review-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.reviewer-date{
    color: #B3B3B3;
}

/* webflow-big */
.webflow-big {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.webflow-bg-color {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 230px;
    padding-right: 230px;
}

.focus-title {
    font-size: 50px;
    margin-bottom: 30px;
}

.focus-sub-title {
    color: #757575;
    margin-bottom: 10px;
}

.focus-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    display: inline-block;    /* imp for hover transform to work */
    transform: translateY(-4px);
    transition: transform 0.3s ease;
}
  
.focus-btn:hover {
    transform: translateY(0);
}
  

.focus-img {
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 50px;
}

/* connect-option */
.contact-section {
  display: flex;
  gap: 100px;
  padding: 100px 200px;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.contact-title h1 {
  font-size: 98px;
  font-weight: bold;
}

.contact-box form {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.contact-box label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.contact-box input,
.contact-box textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 14px;

  resize: none;
  border: 1px solid #D6DDED;
  outline: none;
}

.submit-btn {
    color: white;
    font-weight: bold;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    transform: translateY(-4px);
    transition: all 0.3s ease;
  }
  
  .submit-btn:hover {
    transform: translateY(0);
  }

  /* footer section */
  footer {
    text-align: center;
  }

  footer h1 {
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #4E47FF;
  }

  footer p {
    color: #8987A1;
  }

  footer ul {
    color: #8987A1;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 770px;
    margin-right: 770px;
    margin-top: 20px;
    margin-bottom: 100px;
    list-style: none;
  }

  